.App {
  text-align: center;
}

.LoadingScreen{
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}
.threeDots:after{
  content: "\2807";
  font-size: 16px;
}
.dropdown{
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-left: 20px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  color: #344B60;
  height: 42px;
  margin-top: 5%;
}

.dropdown:hover{
  color: #D21010;
  background-color: #ff0000;
  background-color: rgba(255, 0, 0, 0.1);
}
.dropdown p {
  margin-left: 15px;
}

.dropdown-body {
  width: 200px;
  height: 64px;
  border-radius: 8px;
  position: absolute;
  right: 27vw;
  border: 1px solid #E5E8EC;
  display: none;
  z-index: 2;
  background-color: white;
  color: black;
  cursor: pointer;
}

.dropdown-body.open {
  display: block;
}

@media only screen and (max-width: 1750px) {
  .dropdown-body {
    right: 25vw;
  }
}
@media only screen and (max-width: 1620px) {
  .dropdown-body {
    right: 23vw;
  }
}
@media only screen and (max-width: 1450px) {
  .dropdown-body {
    right: 21vw;
  }
  .makeStyles-tableContainer-1{
    margin-top: 150px !important;
  }
}
@media only screen and (max-width: 1250px) {
  .dropdown-body {
    right: 15vw;
  }
}
@media only screen and (max-width: 1100px) {
  .dropdown-body {
    right: 10vw;
  }
  .makeStyles-tableContainer-1{
    width: 90% !important;
    overflow: scroll;
  }
}
@media only screen and (max-width: 800px) {
  .dropdown-body {
    right: 7vw;
  }
}
@media only screen and (max-width: 700px) {
  .dropdown-body {
    right: 5vw;
  }
}
@media only screen and (max-width: 600px) {
  .dropdown-body {
    right: 3vw;
  }
}
@media only screen and (max-width: 400px) {
  .makeStyles-tableContainer-1{
    margin-top: 100px !important;
  }
}